.App {
  text-align: center;
}

.container {
  font-size: 12px;
  display: flex;
  justify-content: center;
  border: 5px dashed black;
  contain: content;
}
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 0 10px 0.25px white;
  position: absolute;
  font-size: 1em;
}

.card .text {
  background-color: white;
}
